
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccessDenied</title>
</head>
<body style="background-color:antiquewhite">
    <h2 style="text-align:center">
        You don't have authority to access this page please contact the admin
    </h2>
</body>
</html>
