
@{
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
@model vmCategory

@section Body
{
    <form method="post">
        <div class="container-fluid">
            <!-- Button trigger modal -->
            <button style="margin-left:700px" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                New Category
            </button>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Add Category</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
</svg></button>
                        </div>
                        <div class="modal-body">
                            <div class="col-lg-8">
                                <label for="catcode">Category Code </label>
                                <input type="text" style="border: 1px solid #6f42c1" class="form-control" placeholder="CategoryCode" id="catcode" asp-for="category.Catcode" />

                            </div>
                            <div class="col-lg-8">
                                <label for="catname">Category Name </label>
                                <input type="text" style="border: 1px solid #6f42c1" class="form-control" placeholder="CategoryName" id="catname" asp-for="category.Name" />
                                <span asp-validation-for="category.Name"></span>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Add Category" asp-action="Save" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="panel">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col col-lg-1 col-lg-12">
                                        <h3 class="title">Data <span>List</span></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Category Code</th>
                                            <th>Category Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Category item in Model.licategory)
                                        {
                                            <tr>
                                                <td>@item.ID</td>
                                                <td>@item.Catcode</td>
                                                <td>@item.Name</td>
                                                <td>
                                                    <ul class="action-list" style=" list-style-type: none;">
                                                        @*<li><a href="#" data-tip="edit"><i class="fa fa-edit"></i></a></li>*@
                                                        <li><a asp-action="Delete" asp-route-Id="@item.ID" data-tip="delete"><i class="fa fa-trash"></i></a></li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
